[Unit]
Description=CEC Controller Service
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/bin/cec-controller
Restart=on-failure

[Install]
WantedBy=multi-user.target
