[Unit]
Description=CEC Controller CLI Service
After=local-fs.target
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/usr/bin/cec-controller
Restart=on-failure

[Install]
WantedBy=multi-user.target
